{% extends 'review/base.html' %}
{% load crispy_forms_tags %}
{% load myfilters %}
{% block content %}
<section class="bg-white space-sm pb-4">
    <div class="container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="row justify-content-between align-items-center">
            <div class="col-auto">
                <h1 class="h2">Account Settings</h1>
            </div>
            <!--end of col-->
            <div class="col-auto text-right">
                <a href="{% url 'logout' %}" class="btn btn-success">Logout</a>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="flush-with-above height-80 d-block">
    <div class="tab-content">
        <div class="tab-pane fade show active" id="general" role="tabpanel">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="media flex-wrap mb-0 align-items-center">
                            <img alt="Image" src="{{ user.profile.image.url }}" class="avatar avatar-lg mb-3 mb-md-0" />
                            <div class="media-body">
                                <h5>Username: {{ user.username }}</h5>
                                <p>Email: {{ user.email }}</p>
                                <p>Date Joined: {{ user.date_joined }}</p>
                                <p>Last Login: {{ user.last_login }}</p>
                            </div>
                        </div>
                    </div>
                    <!--end of col-->
                </div>
                <!--end of row-->
                <hr>
                <div class="row mb-4">
                    <div class="col">
                        <h5>Account Details</h5>
                    </div>
                    <!--end of col-->
                </div>
                <!--end of row-->
                <div class="row">
                    <div class="col-12 col-md-4 order-md-2">
                        <div class="alert alert-info text-small" role="alert">
                            <i class="icon-shield"></i>
                            <span>
                                Your information is always kept encrypted and can never be accessed by third parties.
                            </span>
                            <a href="#">See our privacy policy</a>
                        </div>
                    </div>
                    <!--end of col-->
                    <div class="col-12 col-md-8 order-md-1">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="{{ u_form.username.id_for_label }}">Username*</label>
                                {{ u_form.username|addcss:'form-control form-control-lg' }}
                                <p class="text-small" style="color:red">{{ u_form.username.errors.as_text  }}</p>
                            </div>
                            <div class="form-group">
                                <label for="{{ u_form.email.id_for_label }}">Email Address*</label>
                                {{ u_form.email|addcss:'form-control form-control-lg' }}
                                <p class="text-small" style="color:red">{{ u_form.email.errors.as_text  }}</p>
                            </div>
                            <div class="form-group">
                                <label for="{{ p_form.fullname.id_for_label }}">Full Name</label>
                                {{ p_form.fullname|addcss:'form-control form-control-lg' }}
                                <p class="text-small" style="color:red">{{ p_form.fullname.errors.as_text  }}</p>
                            </div>
                            <div class="form-group">
                                <label for="{{ p_form.twitter.id_for_label }}">Twitter Handle</label>
                                <div class="input-group input-group-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">@</span>
                                    </div>
                                    {{ p_form.twitter|addcss:'form-control form-control-lg' }}
                                    <p class="text-small" style="color:red">{{ p_twitter.fullname.errors.as_text  }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ p_form.instagram.id_for_label }}">Instagram Handle</label>
                                <div class="input-group input-group-lg">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">@</span>
                                    </div>
                                    {{ p_form.instagram|addcss:'form-control form-control-lg' }}
                                    <p class="text-small" style="color:red">{{ p_form.instagram.errors.as_text  }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ p_form.location.id_for_label }}">Location</label>
                                {{ p_form.location|addcss:'form-control form-control-lg' }}
                                <p class="text-small" style="color:red">{{ p_form.location.errors.as_text  }}</p>
                            </div>
                            <div class="form-group">
                                <label for="{{ p_form.image.id_for_label }}">Profile Picture*</label>
                                <p>{{ p_form.image }}</p>
                                <p class="text-small" style="color:red">{{ p_form.image.errors.as_text  }}</p>
                            </div>
                            <div>
                                <small>For best results, use an image at least 256px by 256px in either .jpg or .png
                                    format</small>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Update</button>
                            </div>
                        </form>
                    </div>
                    <!--end of col-->
                </div>
                <!--end of row-->
                <hr>
                <div class="row mb-4">
                    <!-- <div class="col">
                        <h5>Profile Information</h5>
                    </div> -->
                    <!--end of col-->
                </div>
                <!--end of row-->
                <div class="row">
                    <!-- <div class="col-12 col-md-4 order-md-2">
                        <div class="alert alert-info text-small" role="alert">
                            <i class="icon-user"></i>
                            <span>
                                Some of this information will appear on your public profile. A detailed public profile
                                helps users with similar professional interests and location to connect with you.
                            </span>
                            <a href="#">View your public profile</a>
                        </div>
                    </div> -->
                    <!--end of col-->
                    <!-- <div class="col-12 col-md-8 order-md-1">
                        <form class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="city">City:</label>
                                    <input class="form-control form-control-lg" type="text" name="profileCity"
                                        value="Melbourne" id="city" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="country">Country:</label>
                                    <input class="form-control form-control-lg" type="text" name="profileCountry"
                                        value="Australia" id="country" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="birthday">Birthday:</label>
                                    <input class="form-control form-control-lg" type="text" placeholder="Select a date"
                                        name="profileBirthday" id="birthday" data-flatpickr data-alt-input="true" />
                                    <small>This will never be made public.</small>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="website">Website:</label>
                                    <input class="form-control form-control-lg" type="text" name="profileWebsite"
                                        id="website" />
                                    <small>This will be displayed on your public profile</small>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="twitter">Twitter Handle:</label>
                                    <div class="input-group input-group-lg">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">@</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Username"
                                            name="profileTwitter" id="twitter">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="about-me">About me:</label>
                                    <textarea class="form-control form-control-lg" name="profileBio" rows="4"
                                        id="about-me"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                        <label class="custom-control-label" for="customSwitch1">Toggle this switch
                                            element</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <button class="btn btn-secondary" type="submit" disabled>Save changes</button>
                                </div>
                            </div>
                        </form>
                    </div> -->
                    <!--end of col-->
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </div>
        <!--end of tab pane-->
    </div>
    <!--end of tabs content-->
</section>
{% endblock content %}